In [2]:
# import all necessary libraries
import pandas as pd

In [5]:
# import the data
data = pd.read_csv('Billionaire.csv')

# show first five rows
data.head()

,Name,NetWorth,Country,Source,Rank,Age,Industry
0,Jeff Bezos,$177 B,United States,Amazon,1,57.0,Technology
1,Elon Musk,$151 B,United States,"Tesla, SpaceX",2,49.0,Automotive
2,Bernard Arnault & family,$150 B,France,LVMH,3,72.0,Fashion & Retail
3,Bill Gates,$124 B,United States,Microsoft,4,65.0,Technology
4,Mark Zuckerberg,$97 B,United States,Facebook,5,36.0,Technology

In [11]:
# check for missing values 
missing_values = data.isnull().sum().sum()
print(missing_values)

79